* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e8e8e8;
}

.container {
    border: solid 1px #8d8d8d;
    padding: 20px;
    border-radius: 20px;
    font-weight: bolder;
}

.heading-login {
    font-size: 1.3rem;
    margin-bottom: 5px;
    font-weight: bolder;
}

form {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    border: solid 1px #1034aa;
    background: linear-gradient(135deg, #0034de, #006eff);
    color: #fff;
    font-weight: bolder;
    transition: all 0.2s ease;
    margin-top: 10px;
    box-shadow: 0px 2px 3px #000d38,
        inset 0px 4px 5px #0070f0,
        inset 0px -4px 5px #0070f0
}

button:active {
    box-shadow: inset 0px 4px 5px #0070f0,
        inset 0px -4px 5px #002cbb;
        transform: scale(0.995);
}

input {
    position: relative;
}

label {
  
    color: #8d8d8d;
    pointer-events: none;
    background-color: transparent;
    left: 15px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
    margin-bottom: 10px;
}

.input-container {
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: solid 1px #8d8d8d;
    letter-spacing: 1px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 5px;

}



